<section id="jobs" class="container">
    <h1>All Jobs</h1>

{{#each jobs}}
    <div class="job">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <ul>
            <li>Salary: {{salary}}</li>
            <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Apply Now</a></li>
        </ul>
        <div class="tech">
            <small>Technologies Needed: <span>{{technologies}}</span></small>
        </div>
    </div>
{{else}}
<p>No Jobs Available</p>

{{/each}}

    


</section>